<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Url=https://mreynolds1.crm.dynamics.com/; Username=scoutapi@mreynolds1.onmicrosoft.com; Password=Wac25922" />
  </connectionStrings>

  <appSettings>
    <add key="ClientId" value="efd579f7-46ff-4008-b1f4-143bcd653857" />
    <add key="RedirectUrl" value="http://webhookdeploy" />
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>